
.back{
    background-image:linear-gradient(rgb(8 6 6 / 53%), rgb(7 5 5 / 97%)), url('../../assets/hero.jpg');
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.main{
    padding-top: 150px !important;
}
.main::after {
    content: '';
    display: inherit;
    width: 9%;
    margin: 27px auto;
    border-top: 4px solid #8D1517;
    border-radius: 20px;
 }
.contact{
    padding: 12px 62px 12px 62px;
    background-color: #8D1517;
    color: white;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    border-radius: 63px;
    font-size: 24px;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .main::after {
        content: '';
        display: inherit;
        width: 20%;
        margin: 27px auto;
        border-top: 4px solid #8D1517;
        border-radius: 20px;
     }
}