
.back{
    filter: blur(8px);
    -webkit-filter: blur(3px);
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.main{
    /* padding-top: 150px !important; */
    position: relative;
    top: -350px;
}
.second{
    position: relative;
    top: -350px;
}
/* .carousel-control-next, .carousel-control-prev{
    top: -300px !important;
} */
.hero{
    position: relative;
    top: -350px;
}
.main::after {
    content: '';
    display: inherit;
    width: 9%;
    margin: 27px auto;
    border-top: 4px solid #8D1517;
    border-radius: 20px;
 }
.contact{
    padding: 12px 62px 12px 62px;
    background-color: #8D1517;
    color: white;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    border-radius: 63px;
    font-size: 24px;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .main::after {
        content: '';
        display: inherit;
        width: 20%;
        margin: 27px auto;
        border-top: 4px solid #8D1517;
        border-radius: 20px;
     }
}