.who{
    
    color: white;
    
}
.title{
    background: #8D1517;
    padding: 0px 30px 3px 30px;
    border-radius: 5px;
}
.icons{
    background-color: #8D1517;
    width: 50px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}